In [2]:
#Display "Hello World" in your computer.
print("hello world")

hello world

In [3]:
#Get the input from the user and perform addition of two numbers
a=int(input("Enter the input for a :"))
b=int(input("Enter the input for b :"))
c=a+b
print("The addition of a and b is :",c)

Enter the input for a :10
Enter the input for b :20
The addition of a and b is : 30

In [5]:
#Swap two variables without temp variable
a=int(input("Enter the value for a :"))
b=int(input("Enter the value for b :"))
a=a+b
b=a-b
a=a-b
print("The swapped value of a is :", a)
print("The swapped value of b is :", b)

Enter the value for a :10
Enter the value for b :20
The swapped value of a is : 20
The swapped value of b is : 10

In [1]:
#convert the entered kilometers (conversion factor=0.621371)
a=int(input("Enter the kilometers :"))
k=a*0.621371
print("The converted kilometers is",k)

Enter the kilometers :10
the converted kilometers is 6.21371

In [2]:
#check whether the given number is positive , negative or 0
a=int(input("Enter the number :"))
if a<0:
    print("Negative Number")
elif a>0:
    print("Positive Number")
else:
    print("Zero")

Enter the number :0
Zero

In [3]:
#verify that the given year is leap year
year=int(input("Enter a Year :"))
if(year%400==0) & (year%100==0):
    print("Leap year")
elif(year%4==0) & (year%100!=0) :
    print("Leap year")
else:
      print("Not a Leap year")

Enter a Year :2020
Leap year

In [4]:
#display the prime numbers within the given interval
a=int(input("Enter the starting number :"))
b=int(input("Enter the ending number :"))
for i in range (a,b):
    c=0
    for j in range (1,i):
        if i%j==0:
            c+=1
    if(c==1):
            print(i)

Enter the starting number :5
Enter the ending number :20
5
7
11
13
17
19

In [6]:
#display the fibonacci sequence upto the nth term
a=int(input("Enter a number"))
n1=0
n2=1
print("Fibonacci series :",n1,n2,end="")
for i in range(2, a):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end=" ")

Enter a number : 5
Fibonacci series : 0 11 2 3

In [9]:
#check if the number is an Armstrong number or not
a=int(input("Enter a 3 digit number :"))
b=a//100
c=a%100
d=c//10
e=c%10
num=(b**c)+(d**3)+(e**3)
if num==a:
    print("It is an armstrong number ")
else:
    print("Not an armstrong number")

Enter a 3 digit number :153
The is an armstrong number

In [10]:
#find the sum of natural numbers upto the nth term 
a=int(input("Enter a number :"))
s=0
if(a<=0):
    print("It is not a natural number ")
else:
    for i in range(0,a+1):
        s=s+i
print(s)

Enter a number :5
15

In [11]:
#write the function called show_stars(rows).If rows are 5 it should print the following
*
**
***
****
*****
row=int(input("Enter the number of lines :"))
for i in range(1,row+1):
    print("*"*i)

Enter the number of lines :5
*
**
***
****
*****

In [12]:
#write the program to remove the character from the string starting from zero upto n and return a new string  
s=input("Enter any string :")
n=int(input("Enter how much to be removed :"))
b=len(s)
print(s[n:])

Enter any string :helloworld
Enter how much to be removed :5
world

In [13]:
#iterate the given list of numbers and print only those numbers which are divisible by 5
l=[2,6,9,12,15,20,35,40,55]
for i in l:
    if i%5==0:
        print(i)

15
20
35
40
55

In [17]:
#write a program to find how many times substring Hi appears in the given string
str=input("Enter the string :")
str2="hi"
count=str.count(str2)
print("Number of substring occurences :",count)

Enter the string :hi,hi
Number of substring occurences : 2

In [44]:
#print the following pattern
row=int(input("Enter the number of lines :"))
for i in range(1,row+1):
    print("%s" %i*i)

Enter the number of lines :5
1
22
333
4444
55555

In [34]:
# write a program to check if the given number is a palindrome
print("palindrome or not")
p=input("Enter a String : ")
if p==p[::-1]:
    print("It is a palindrome ")
else:
     print("It is not a palindrome")

palindrome or not
Enter a String : malayalam
It is a palindrome

In [26]:
# python program to interchange first and last elements in a list
list=[1,2,3,4,5]
print("Before interchanging : ",list)
list[0],list[len(list)-1]=list[len(list)-1],list[0]
print("After Interchanging : ",list)

Before interchanging :  [1, 2, 3, 4, 5]
After Interchanging :  [5, 2, 3, 4, 1]

In [33]:
# python program to swap two elements in a list
l=[1,2,3,4,5]
print("Before Swapping :",l)
x,y=int(input("Index one :")),int(input("Index two :"))
l[x],l[y]=l[y],l[x]
print("After Swapping :",l)

Before Swapping : [1, 2, 3, 4, 5]
Index one :1
Index two :3
After Swapping : [1, 4, 3, 2, 5]

In [35]:
#python ways to find length of the list
l=[1,2,3,4,5]
print("Length of list: ",len(l))
c=0
for i in l:
    c+=1
print("Length of list: ",c)

Length of list:  5
Length of list:  5

In [36]:
# Maximum of two numbers in python
a,b=int(input("enter value 1: ")), int(input("enter value 2: "))
if a>b:
    print("Maximum value is= ",a)
else:
    print("Maximum value is= ",b)

enter value 1: 20
enter value 2: 30
Maximum value is=  30

In [37]:
# Minimum of two numbers in python
a,b=int(input("enter value 1: ")), int(input("enter value 2: "))
if a>b:
    print("Minimum value is= ",b)
else:
    print("Minimum value is= ",a)

enter value 1: 10
enter value 2: 20
Minimum value is=  10

In [39]:
#python program to check whether the given string is symmetrical or palindrome
val=input("Enter sting value: ")
print("pallindrome checking:\n")
if val==val[::-1]:
    print("It is a pallindrome")
else:
    print("It is not a pallindrome")
print("symmentrical checking:\n")
half=len(val)//2
if val[half:]==val[:half]:
    print("It is symmentrical")
else:
    print("It is not symmentrical")

Enter sting value: malayalam
pallindrome checking:

It is a pallindrome
symmentrical checking:

It is not symmentrical

In [45]:
#reverse words in a given string in python
val=input("Enter sting value: ")
print(val[::-1])

Enter sting value: python
nohtyp

In [48]:
# ways to remove the ith character from string in python 
s=input("Enter the string :")
i=int(input("Enter index  value: "))
s1=s[:i]+s[i+1:]
print(s1)

Enter the string :python
Enter index  value: 2
pyhon

In [49]:
# find length of a string in python
s=input("Enter the string :")
print("Length of string: ",len(s))
c=0
for i in s:
    c+=1
print("Length of string: ",c)

Enter the string :python
Length of string:  6
Length of string:  6

In [68]:
# To print even length words in string
n="This is a python language"
s=n.split(" ")
for i in s:
      if len(i)%2==0:
                print(i)

This
is
python
language

In [62]:
#Python program to find the size of a tuple
t=(1,2,3,4,5)
print(len(t))

5

In [57]:
#Python-Maximum and minimum k elements in a tuple
t=(1,2,3,4,5)
print("Maximum value= ",max(t))
print("Minimum value= ",min(t))

Maximum value=  5
Minimum value=  1

In [58]:
#Python sum of tuple elements
t=(1,2,3,4,5)
print("Sum of elements in the tuple:",sum(t))

Sum of elements in the tuple: 15

In [59]:
#Python-row wise element addition in tuple matrix
t = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for row in t:
    s=sum(row)
    print("Row sum:",s)

Row sum: 6
Row sum: 15
Row sum: 24